.repoboxes::-webkit-scrollbar{
  width: 4px;
  background-color: rgb(217, 217, 217);
}

.repoboxes::-webkit-scrollbar-thumb{
  background-color: grey;
}

.react-terminal::-webkit-scrollbar{
  width: 6px;
  background-color: #3d4453df;
}

.react-terminal::-webkit-scrollbar-thumb{
  background-color: gray;
}

.react-terminal-line{
  color: rgb(0, 178, 0);
}

.react-terminal{
  height: 625px !important;
}